$white: #ffffff;
$black: #000000;
$green: #2ecc71;
$darkGreen: #3da165;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$orange: #f18f3b;
$purple: #8e44ad;
$turquoise: #1abc9c;

$week1: #1ad1b1;
$week2: #1ab191;
$week3: #1a9575;
$week4: #157b65;

$day: #3498db;
$morning: #f1c40f;
$night: #8e44ad;

$shadow--ultraLight: rgba(0, 0, 0, 0.1);
$shadow--veryLight: rgba(0, 0, 0, 0.2);
$shadow--light: rgba(0, 0, 0, 0.3);
$shadow: rgba(0, 0, 0, 0.5);
$shadow--strong: rgba(0, 0, 0, 0.65);
$shadow--dark: rgba(0, 0, 0, 0.8);