@import 'color.scss';
@import 'auth.scss';

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: $turquoise;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Cabin', Arial, sans-serif;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(30px);
  transform: scale(1.2);
}

.app {
  .header{
    display: inline-block;
    position: relative;
    left:50%;
    transform: translate(-50%, 0%);
    margin: 5px 0 15px;
    color: rgba(darken($turquoise,10%),0.9);
    text-transform: uppercase;
    font-weight: 800;
    white-space: nowrap;
    letter-spacing: .1em;
    padding: .2em 0 .25em 0;
    font-size: 4em;
    z-index: 2;
    text-shadow: 2px 4px 3px $shadow--light;
  }
}


.page {
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 50%;
  margin-left: -15rem;
  margin-top: -20rem;
  width: 30rem;
  height: 45rem;
  z-index: 2;
  perspective: 1000px;

  &.page--flip .login {
    transform: rotateY(-180deg);
  }
  &.page--flip .register {
    transform: rotateY(0deg);
  }
}