@import 'color.scss';
@import 'auth.scss';
@import 'worksheet.scss';
@import 'menu.scss';
@import 'sheetList.scss';

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background: darken($turquoise, 40%);
  overflow-x: hidden;
  font-family: 'Cabin', Arial, sans-serif;
  //height: 100%;
}

.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //filter: blur(10px);
  //transform: scale(1.2);
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: opacity 400ms;

  &--Persp {
    perspective: 1000px;
  }

  &.page--flip .login {
    transform: translate3d(-50%, 0, 0) rotateY(-180deg);
  }
  &.page--flip .register {
    transform: translate3d(-50%, 0, 0) rotateY(0deg);
  }

  &--loading {
    opacity: 0;
  }

  .content {
    position: relative;
    margin: 0 auto;
    //border-radius: 5px;
    //top: 20px;
    width: 100%;
    min-height: 100%;
    height: auto;
    padding-bottom: 100px;
    background: linear-gradient(rgba($darkGreen, 0.5) 20%, darken($darkGreen,20%) 100%);
  }
}