@import 'color.scss';
@import 'auth.scss';
@import 'worksheet.scss';
@import 'menu.scss';

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background: darken($turquoise,40%);
  overflow-x: hidden;
  font-family: 'Cabin', Arial, sans-serif;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(30px);
  transform: scale(1.2);
}

.page {
  display: block;
  position: relative;
  top: 100px;
  left: 0;
  margin: 0 auto;
  width: 30rem;
  height: 45rem;
  z-index: 2;
  perspective: 1000px;
  border-radius: 10px;
  transition: all 800ms ease-in-out;

  &.page--flip .login {
    transform: rotateY(-180deg);
  }
  &.page--flip .register {
    transform: rotateY(0deg);
  }

  &.page--logged{
    top: 20px;
    width: 95%;
    min-height: 95%;
    height: auto;
    padding-bottom: 50px;
    background: linear-gradient(rgba($turquoise, 0.5) 60%, $shadow 100%);
  }
}