@import "color";

.menu {
  display: inline-block;
  position: fixed;
  width: 100%;
  min-height: 65px;
  height: auto;
  padding-bottom: 7px;
  background: $shadow;
  text-align: center;
  z-index: 99;
  transition: all 400ms;

  &__hi {
    display: inline-block;
    position: relative;
    margin: 15px 3px 0 30px;
    padding: 3px 10px;
    background: $blue;
    border-radius: 4px;
    color: $white;
    font-weight: 800;
    font-size: 1.25em;

    @media screen and (max-width: 1200px) {
      font-size: 1em !important;
    }
  }

  &__item {
    display: inline-block;
    position: relative;
    margin: 15px 3px 0;
    padding: 3px 10px;
    text-transform: uppercase;
    font-weight: 800;
    white-space: nowrap;
    letter-spacing: .05em;
    font-size: 1.25em;
    transition: all 400ms;
    cursor: pointer;
    border-radius: 4px;
    background: $shadow--veryLight;
    color: $turquoise;

    &:hover {
      color: $white;
      background: $turquoise;
    }

    &--selected {
      color: $white;
      background: $darkGreen;
    }

    @media screen and (max-width: 1200px) {
        font-size: 1em !important;
    }
  }

  &--scrolled {
    min-height: 40px;
    height: auto;
    padding-bottom: 3px;
    background: $shadow--strong;
    .menu__item {
      margin-top: 5px !important;
      font-size: 0.95em !important;
    }
    .menu__hi {
      margin-top: 5px !important;
      font-size: 0.95em !important;
    }
  }

}