@import "color";

.worksheet {
  color: $white;

  &__name {
    display: inline-block;
    position: relative;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    margin: 0 0 20px;
    text-transform: uppercase;
    font-weight: 800;
    white-space: nowrap;
    letter-spacing: .1em;
    font-size: 2em;
    text-shadow: 2px 4px 3px $shadow--light;
  }

  &__info {
    position: relative;
    left: 50%;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    background: $shadow--veryLight;
    cursor: pointer;
    transform: translate(-50%, 0);
    transition: all 400ms;
    font-weight: 600;
    text-align: center;

    &:hover {
      background: $turquoise;
    }
  }

  &__description {
    position: absolute;
    left: 50%;
    width: 40%;
    padding: 15px;
    background: $blue;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px $shadow--veryLight;
    transform: translate(-50%, 0);
    transition: all 500ms linear;
    z-index: 1;

    &--closed {
      opacity: 0;
      visibility: hidden;
    }

    &__close {
      position: absolute;
      right: 0;
      top: 0;
      width: 25px;
      height: 25px;
      text-align: right;
      background: $red;
      border-radius: 0 5px 0 100%;
      cursor: pointer;
      transform-origin: 100% 0;
      transition: all 400ms;

      &:hover {
        transform: perspective(1px) scale(1.6);
      }

      .line {
        $width: 15px;
        $height: 3px;
        width: $width;
        height: $height;
        background: $white;
        display: block;
        position: absolute;
        top: 40%;
        right: 10%;
        margin-left: -$width/2;
        margin-top: -$height/2;
        transition: transform 200ms;
        $line-spacing: 8px;
        &--1 {
          transform: translate3d(0, 0, 0) rotate(45deg);
        }
        &--2 {
          transform: translate3d(0, 0, 0) rotate(-45deg);
        }
      }

    }
  }

  .week {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .workout {
    position: relative;
    top: 20px;
    height: auto;
    width: auto;
    min-width: 300px;
    flex-basis: 18%;
    min-height: 500px;
    margin: 0 10px 50px 10px;
    color: $white;
    background: rgba($green, 0.4);
    border-radius: 5px;
    box-shadow: 0 10px 15px 3px $shadow--light;
    transition: all 400ms;
    zoom: 99%; //chrome blurry text exploit

    &:hover {
      background: $darkGreen;
      transform: scale(1.15, 1.15);
      z-index: 3;
    }

    &__time {
      display: block;
      position: relative;
      top: 0;
      width: 100%;
      height: 22px;
      background: $shadow--light;
      border-radius: 5px 5px 0 0;
      text-transform: uppercase;
      font-weight: 800;
      text-align: center;
    }

    &__name {
      font-size: 18px;
      text-align: center;
      padding: 5px;
      background: $shadow--veryLight;
    }

    &__infoBox {
      position: absolute;
      top: 22px;
      left: 0;
      width: 31px;
      height: 31px;
      padding: 5px;
      font-size: 20px;
      text-align: center;
      background: $blue;
      cursor: help;

      &:hover ~ .workout__description {
        visibility: inherit;
      }
    }

    &__description {
      visibility: hidden;
      position: absolute;
      top: 52px;
      width: auto;
      max-width: 80%;
      padding: 5px;
      background: $blue;
      border-radius: 0 5px 5px 0;
      z-index: 4;
    }

    &__form {
      .exercise {
        position: relative;
        padding-left: 5px;
        padding-top: 1px;
        font-size: 14px;
        user-select: none;

        &:nth-child(odd) {
          background: $shadow--ultraLight;
        }

        &__addNote {
          position: absolute;
          width: 27px;
          height: 16px;
          padding: 2px;
          font-size: 11px;
          background: $blue;
          border-radius: 5px;
        }

        &__addNoteInput {
          position: absolute;
          opacity: 0;
          width: 27px;
          height: 16px;
          z-index: 5;
          cursor: pointer;
          &:hover + .exercise__addNote, &:checked + .exercise__addNote {
            background: darken($blue, 10%);
          }
          &:checked ~ .exercise__note {
            display: table;
          }
        }

        &__note {
          display: none;
          position: relative;
          width: 99%;
          height: 17px;
          margin: 1px 0 2px;
          text-align: center;
        }

        &__basic {
          display: table;
          position: relative;
          padding-left: 30px;
          width: 100%;
        }

        &__name {
          display: table-cell;
          text-align: left;
        }

        &__inputs {
          display: table-cell;
          text-align: right;
          width: 85px;
          height: 20px;

          input[type="text"] {
            position: relative;
            right: 0;
            top: 0;
            text-align: center;
            width: 40px;
            height: 18px;
            border: none;
            padding: 1px;
            margin: 1px 2px 1px 0;
            border-radius: 1px;
            background: lighten($darkGreen, 45%);
            &:hover, &:focus {
              background: $white;
            }
          }

          $size: 20px;
          input[type="checkbox"] {
            opacity: 0;
            position: absolute;
            width: $size;
            height: $size;
            right: 0;
            margin-right: 13px;
            z-index: 5;
            cursor: pointer;

            &:checked + label {
              background: $green;
            }
          }

          .exercise__done {
            display: inline-block;
            position: absolute;
            width: $size;
            height: $size;
            right: 0;
            margin-right: 13px;
            background: $white;
            border-radius: 2px;
            box-shadow: 0 0 10px 1px $shadow--ultraLight;
            transition: background 400ms;
          }
        }

        &:first-child {
          padding-top: 5px;
        }

        &:last-child {
          margin-bottom: 35px;
        }
      }
    }

    &__send {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;
      background: $shadow--veryLight;
      border-radius: 0 0 5px 5px;
      cursor: pointer;
      color: $white;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: .1em;
      transition: all 400ms;

      &:hover {
        background: $shadow--dark;
        box-shadow: 0 -2px 20px 3px $shadow--dark;
      }
    }
  }
}