@import "color";

.worksheet {
  padding-top: 100px;
  color: $white;

  &__name {
    display: inline-block;
    position: relative;
    width: 100%;
    text-align: center;
    top: 0;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .1em;
    font-size: 2em;
    text-shadow: 2px 4px 3px $shadow--light;
  }

  &__info {
    position: relative;
    left: 50%;
    width: 120px;
    padding: 10px;
    border-radius: 5px;
    background: $shadow--veryLight;
    cursor: pointer;
    transform: translate(-50%, 0);
    transition: all 400ms;
    font-weight: 600;
    text-align: center;

    &:hover {
      background: $turquoise;
    }
  }

  &__description {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 40%;
    padding: 15px;
    margin: 0 auto;
    background: $blue;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px $shadow--veryLight;
    transition: all 500ms linear;
    z-index: 7;

    &--closed {
      opacity: 0;
      visibility: hidden;
    }

    &__close {
      position: absolute;
      right: 0;
      top: 0;
      width: 25px;
      height: 25px;
      text-align: right;
      background: $red;
      border-radius: 0 5px 0 100%;
      cursor: pointer;
      transform-origin: 100% 0;
      transition: all 400ms;

      &:hover {
        border-radius: 0 2px 0 100%;
        transform: perspective(1px) scale(1.6);
      }

      .line {
        $width: 15px;
        $height: 3px;
        width: $width;
        height: $height;
        background: $white;
        display: block;
        position: absolute;
        top: 40%;
        right: 10%;
        margin-left: -$width/2;
        margin-top: -$height/2;
        transition: transform 200ms;
        $line-spacing: 8px;
        &--1 {
          transform: translate3d(0, 0, 0) rotate(45deg);
        }
        &--2 {
          transform: translate3d(0, 0, 0) rotate(-45deg);
        }
      }

    }
  }

  .weeks {
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 60px 0;
  }

  .week {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 20%;
    border-radius: 8px;
    margin: 8px;
    box-shadow: 0 0 10px 1px $shadow--veryLight;
    transition:background 400ms, box-shadow 400ms;

    &__name {
      font-size: 1.3em;
      font-weight: 800;
      //padding: 2px;
      width: 100%;
      text-align: center;
      border-radius: 8px 8px 0 0;
    }

    @mixin background($color) {
      background: rgba($color, 0.4);
      &:hover {
        background: rgba($color, 0.9);
        //background: rgba($green,0.8);
        //box-shadow: 0 0 20px 3px $shadow--veryLight;
      }
      .week__name {
        background: $color;
      }
      .workout__week {
        background: $color !important;
      }
    }

    &:nth-child(4n) {
      @include background($week4);
    }
    &:nth-child(4n+1) {
      @include background($week1);
    }
    &:nth-child(4n+2) {
      @include background($week2);
    }
    &:nth-child(4n+3) {
      @include background($week3);
    }

  }

  .workout {
    position: relative;
    top: 20px;
    height: auto;
    width: auto;
    min-width: 370px;
    min-height: 350px;
    margin: 0 11px 40px;
    color: $white;
    background: rgba($darkGreen, 0.5);
    border-radius: 5px;
    box-shadow: 0 10px 15px 3px $shadow--light;
    transition: all 300ms linear;
    zoom: 99%; //chrome blurry text exploit

    &__week {
      position: absolute;
      left: 0;
      width: 60px;
      height: 22px;
      padding-top: 3px;
      background: $turquoise;
      border-radius: 5px 0 5px 0;
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      z-index: 1;
    }

    &__sticker {
      position: absolute;
      right: 0;
      width: 50px;
      height: 25px;
      padding-top: 4px;
      background: $green;
      border-radius: 0 5px 0 5px;
      text-align: center;
      font-weight: 600;
      z-index: 1;
    }

    &__background {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      opacity: 0;
      transition: opacity 300ms;
      &--day {
        background: linear-gradient(25deg, $darkGreen 25%, rgba($day, 0.75));
      }
      &--morning {
        background: linear-gradient(20deg, $darkGreen 40%, lighten(rgba($morning, 0.7), 5%));
      }
      &--night {
        background: linear-gradient(20deg, $darkGreen 10%, rgba($night, 0.6));
      }
    }

    &:hover {
      background: $darkGreen;
      transform: scale(1.10);
      z-index: 5;
      .workout__background {
        opacity: 1;
      }
    }

    &__time {
      display: block;
      position: relative;
      top: 0;
      width: 100%;
      height: 22px;
      background: $shadow--light;
      border-radius: 5px 5px 0 0;
      text-transform: uppercase;
      font-weight: 800;
      text-align: center;

      &--day {
        background: linear-gradient(90deg, $shadow--light 30%, rgba($day, 0.7));
      }
      &--morning {
        background: linear-gradient(90deg, $shadow--light 30%, rgba($morning, 0.6));
      }
      &--night {
        background: linear-gradient(90deg, $shadow--light 30%, rgba($night, 0.7));
      }
    }

    &__name {
      position: relative;
      font-size: 18px;
      text-align: center;
      padding: 5px;
      background: $shadow--veryLight;
    }

    &__infoBox {
      position: absolute;
      top: 22px;
      left: 0;
      width: 31px;
      height: 31px;
      padding: 5px;
      font-size: 20px;
      text-align: center;
      background: $blue;
      cursor: help;
      z-index: 4;

      &:hover ~ .workout__description {
        visibility: inherit;
      }
    }

    &__description {
      visibility: hidden;
      position: absolute;
      top: 52px;
      width: auto;
      max-width: 80%;
      padding: 5px;
      background: $blue;
      border-radius: 0 5px 5px 0;
      box-shadow: 0 0 50px 2px $shadow--veryLight;
      z-index: 3;
    }

    &__form {
      .exercise {

        &__basic {
          padding-left: 30px;
        }

        &__addNote {
          position: absolute;
          width: 27px;
          height: 16px;
          padding: 2px;
          font-size: 11px;
          background: $blue;
          border-radius: 5px;
        }

        &__addNoteInput {
          position: absolute;
          opacity: 0;
          width: 27px;
          height: 16px;
          z-index: 5;
          cursor: pointer;
          &:hover + .exercise__addNote, &:checked + .exercise__addNote {
            background: darken($blue, 10%);
          }
          &:checked ~ .exercise__note {
            display: table;
          }
        }

        &__note {
          display: none;
          position: relative;
          width: 99%;
          height: 17px;
          margin: 1px 0 2px;
          text-align: center;
        }

        &__inputs {

          input[type="text"] {
            position: relative;
            right: 0;
            top: 0;
            text-align: center;
            width: 40px;
            height: 18px;
            border: none;
            padding: 1px;
            margin: 1px 2px 1px 0;
            border-radius: 1px;
            background: lighten($darkGreen, 45%);
            &:hover, &:focus {
              background: $white;
            }
          }

          $size: 19px;
          input[type="checkbox"] {
            opacity: 0;
            position: absolute;
            width: $size;
            height: $size;
            right: 0;
            top: 0;
            margin-right: 13px;
            z-index: 5;
            cursor: pointer;

            &:hover + .exercise__checkbox {
              background: lighten($green, 25%);
            }

            &:checked + .exercise__checkbox {
              background: $green;
            }
          }

          .exercise__checkbox {
            display: inline-block;
            position: absolute;
            width: $size;
            height: $size;
            right: 0;
            top: 0;
            margin-right: 13px;
            background: $white;
            border-radius: 2px;
            box-shadow: 0 0 10px 1px $shadow--ultraLight;
            transition: background 400ms;
            text-align: center;

            div {
              position: relative;
              font-size: 17px;
              top: -2px;
              left: 0;
              font-weight: 600;
              transform: rotate(42deg) scaleX(-1);
            }
          }
        }

      }
    }

    &__list {
      .exercise {
        //text-align: center;
        &__inputs {
          width: 100px !important;
          div {
            display: inline-block;
            position: relative;
            width: auto;
            border: 1px solid $turquoise;
            border-radius: 2px;
            padding: 0 2px 0;
            margin-right: 1px;
          }
        }
        &__noteBlock {
          display: inline-block;
          width: 27px;
          height: 16px;
          padding: 2px;
          margin-right: 2px;
          font-size: 11px;
          background: #3498db;
          border-radius: 5px;
          cursor: default;

          &:hover {
            background: darken($blue, 10%);
          }
          &:hover + .exercise__note {
            visibility: inherit;
          }
        }

        &__note {
          display: inline-block;
          position: absolute;
          background: $blue;
          width: auto;
          left: 0;
          top: -21px;
          border: 2px solid darken($blue, 10%);
          border-radius: 2px;
          padding: 2px 6px;
          font-size: 16px;
          z-index: 4;
          visibility: hidden;
        }
      }
    }

    &__form, &__list {
      .exercise {
        position: relative;
        padding-left: 5px;
        padding-top: 1px;
        font-size: 14px;
        user-select: none;

        &:nth-child(odd) {
          background: $shadow--ultraLight;
        }

        &__basic {
          display: table;
          position: relative;
          width: 100%;
        }

        &:last-child {
          margin-bottom: 35px;
        }

        &__name {
          display: table-cell;
          text-align: left;
        }

        &__inputs {
          display: table-cell;
          text-align: right;
          width: 85px;
          height: 20px;
        }

        &:first-child {
          padding-top: 5px;
        }
      }
    }

    &__send, &__skip {
      position: absolute;
      bottom: 0;
      height: 30px;
      cursor: pointer;
      color: $white;
      letter-spacing: .1em;
      transition: all 400ms;
      font-size: 1.1em;
      text-transform: uppercase;
    }

    &__send {
      width: 84%;
      background: $green;
      border-radius: 0 0 0 5px;
      padding-left: 70px;
      font-weight: 800;
      &:hover {
        background: darken($green, 10%);
        box-shadow: 0 -2px 20px 3px $green;
      }
    }

    &__skip {
      right: 0;
      width: 16%;
      background: lighten($red, 4%);
      border-radius: 0 0 5px 0;
      font-weight: 600;
      &:hover {
        background: darken($red, 10%);
        box-shadow: 0 -2px 20px 3px $red;
      }
    }

    &__goodJob, &__TODO {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;
      border-radius: 0 0 5px 5px;
      font-weight: 600;
      padding-top: 6px;
      text-align: center;
    }

    &__goodJob {
      background: rgba($green,0.5);
    }

    &__TODO {
      background: $shadow--light;
    }
  }

  .arrow {
    position: fixed;
    left: 5px;
    top: 39%;
    height: 30px;
    width: 30px;
    transform: rotate(45deg);
    border-top: 5px solid $white;
    border-right: 5px solid $white;
    z-index: 99;
    transition: opacity 200ms;

    &:hover {
      opacity: 0;
    }
    &:hover ~ .shortcut {
      left: 0;
    }
  }

  .shortcut {
    position: fixed;
    left: -100px;
    top: 30%;
    width: 90px;
    padding-top: 3px;
    font-size: 14px;
    background: $turquoise;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 20px 1px $shadow--light;
    z-index: 99;
    transition: left 400ms;

    &:hover {
      left: 0;
    }

    &__weeks {
      margin-top: 3px;
      background: $shadow--light;
    }

    &__days {
      padding-bottom: 3px;
      background: $shadow--ultraLight;
    }

    &__row {
      position: relative;
      display: block;
      text-align: center;
      label {
        position: relative;
        display: block;
        height: 17px;
        width: 100%;
      }
      input {
        position: absolute;
        left: 0;
        height: 17px;
        width: 100%;
        opacity: 0;
        z-index: 4;
        cursor: pointer;

        &:hover + label {
          background: rgba($green, 0.4);
        }
        &:checked + label {
          background: $green;
        }
      }
    }

    &__jump {
      display: block;
      position: relative;
      border-radius: 0 0 5px;
      padding: 3px 0;
      cursor: pointer;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      background: $blue;
      transition: background 400ms;

      &:hover {
        background: darken($blue, 10%);
      }
    }
  }
}
